<h1 class="text-3xl text-bold mt-8">Exercice 2</h1>
<h3 class="text-xl text-bold mt-4">Input</h3>
<p>{{this.chocolate.quantity}}  boites de chocolats importée  {{this.chocolate.priceHT}}</p>
<p>{{this.parfum.quantity}}  flacons de parfum importé  {{this.parfum.priceHT}}</p>

<h3 class="text-xl text-bold mt-4">Output</h3>

<p>{{this.chocolate.quantity}} boites de chocolats importée à  {{ this.chocolate.priceHT}}
    : {{ this.chocolateTotal}}</p>
<p>{{this.parfum.quantity}} flacons de parfums à  {{ this.parfum.priceHT }} : {{ this.parfumTotal}}</p>


<p class="mt-2">Montant des taxes :  {{taxeTotal}}</p>
<p>Total :  {{total}}</p>
