<h1 class="text-3xl text-bold">Exercice 1</h1>

<h3 class="text-xl text-bold mt-4">Input</h3>
<p>{{this.book.quantity}}  livres à {{this.book.priceHT}}</p>
<p>{{this.cd.quantity}}  cd à {{this.cd.priceHT}}</p>
<p>{{this.chocolat.quantity}}  barres de chocolat à {{this.chocolat.priceHT}}</p>

<h3 class="text-xl text-bold mt-4">Output</h3>
<p>{{this.book.quantity}} livres à  {{this.book.priceHT}} : {{ this.bookTotal}}</p>
<p>{{this.cd.quantity}} cd à {{ this.cd.priceHT }} : {{ this.cdTotal}}</p>
<p>{{this.chocolat.quantity }} barres de chocolat à  {{ this.chocolat.priceHT}} : {{this.chocolateTotal}}</p>

<p  class="mt-2">Montant des taxes :  {{taxeTotal}}</p>
<p>Total :  {{total}}</p>
